<head>
<link href="<%= url('/mystyle.css') %>" rel="stylesheet" type="text/css" />
</head>
<h10>Change Your Information</h10>
<table>
<form method="post" action="/save_settings/<%= @user.id %>"><br>
<tr><td><h15>Name:</h15></td><td><input type="text" name="new_name" value=<%= @user.name %>></td></tr>
<tr><td><h15>Location:</h15></td><td><input type="text" name="new_location" value=<%= @user.location %>></td></tr>
<tr><td><h15>EMail</h15></td><td><input type="text" name="new_email" value= <%= @user.email %>></td></tr>
<tr><td><h15>Mood Preference:</h15></td><td><input type="text" name="new_mood_pref" value= <%=@user.mood_pref%>></td></tr>
<tr><td><h15>Password:</h15></td><td><input type="password" name="new_password"></td></tr>
<input type=submit value="Send Data">
</form>
<h10><a href="/main/<%=@user.id%>> Go Home </a></h10>